// .example-stretched-tabs {
//     max-width: 800px;
//   }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('../../assets/khadija.png');
    background-size: cover;
  }

  .example-header-image2 {
    background-image: url('../../assets/mourabit.png');
    background-size: cover;
  }