<button mat-icon-button [color]="styleBtn" [disabled]="!session.IsloggedIn()" (click)="jaime()">
  <mat-icon [matBadge]="totalLike" matBadgeColor="" >favorite</mat-icon>
</button>
<!-- <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon> -->
<!-- note = {{liked}}  <br> -->
<!-- <button [disabled]="!session.IsloggedIn()" type="button" [ngClass]="styleBtn" class="btn fa fa-thumbs-o-up fa-1x" (click)="jaime()">
  &nbsp; {{totalLikeRecette}}
</button> -->
<!-- |
<button type="button" class="btn btn-light fa fa-comment-o">&nbsp; {{service.countComment}}</button> -->

<!-- [ngClass]="(note== -1)?'btn-light':'btn-primary'" -->
